/*
Per donar espai al footer
*/
html {
    min-height: 100%;
    position: relative;
    font-family: Arial, sans-serif;

}
body {
margin: 0;
margin-bottom: 75px;
}

h1, .section__title {
    font-weight: 600;
    color: #373737;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 0;
}

.ctrbtn {
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em 2em;
    background: #fff;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color-darkest);
    background-color: var(--main-color);
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    color: black;
}

#calltoaction {
    color: var(--accent-color-1-darkest);
    background-color: var(--accent-color-1);
    border: 2px solid var(--accent-color-1);
    color: black;
}
#calltodelete {
    color: var(--accent-color-2-darkest);
    background-color: var(--accent-color-2);
    border: 2px solid var(--accent-color-2);
    color: black;
}
.ctrbtn:hover {
    border:2px solid var(--main-color-dark);
    background-color: var(--main-color-dark);
    color: #fff;
}
#calltoaction:hover {
    border:2px solid var(--accent-color-1-dark);
    background-color: var(--accent-color-1-dark);
    color: #fff;
}
#calltodelete:hover {
    border:2px solid var(--accent-color-2-darker);
    background-color: var(--accent-color-2-darker);
    color: #fff;
}
.ctrbtn:disabled, #calltoaction:disabled {
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em 2em;
    background: #fff;
    border: 2px solid grey;
    border-radius: 10px;
    color: var(--main-color-darkest);
    background-color: gray;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    pointer-events: none;

}

